<div *ngIf="isLoading; else notLoading">
  <loading />
</div>

<ng-template class="card-content" #notLoading>
  <div class="container">
    <div class="card-and-buttons">
      <card [isOnlyCard]="true" [card]="card"></card>

      <div>
        <div class="flex-col">
          <p>{{ card.setName + "(" + card.set + ")" }}</p>
          <p>
            {{ "#" + card.number + card.rarity }}
          </p>
        </div>
        <div class="languaje-button">
          <button *ngFor="let item of card.foreignNames">
            {{ item.language | uppercase | slice : 0 : 2 }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
