<div *ngIf="isLoading; else notLoading">
  <loading />
</div>

<ng-template class="card-content" #notLoading>
  <div class="container">
    <div class="card-and-buttons">
      <card [isOnlyCard]="true" [cardById]="card"></card>

      <div>
        <div class="short-info">
          <p>{{ card.setName + " - " + card.set }}</p>
          <p>
            {{
              "#" +
                card.number +
                " " +
                card.rarity +
                " " +
                card.foreignName.language
            }}
          </p>
        </div>
        <div class="languaje-button">
          <button
            (click)="selectLanguage(item.language)"
            *ngFor="let item of foreignNames"
            class="buttons-language"
            [ngClass]="{
              selected: item.language === card.foreignName.language
            }"
          >
            {{ item.language | uppercase | slice : 0 : 2 }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
