<footer>
  <div class="links-box">
    <p class="separator">CARDS</p>
    <div class="links">
      <a href="#">Advanced Search</a>
      <a href="#">Syntax Guide</a>
      <a href="#">Random Card</a>
    </div>
  </div>
  <div class="links-box">
    <p class="separator">CARDS</p>
    <div class="links">
      <a href="#">Advanced Search</a>
      <a href="#">Syntax Guide</a>
      <a href="#">Random Card</a>
    </div>
  </div>
  <div class="links-box">
    <p class="separator">CARDS</p>
    <div class="links">
      <a href="#">Advanced Search</a>
      <a href="#">Syntax Guide</a>
      <a href="#">Random Card</a>
    </div>
  </div>
  <div class="links-box">
    <p class="separator">CARDS</p>
    <div class="links">
      <a href="#">Advanced Search</a>
      <a href="#">Syntax Guide</a>
      <a href="#">Random Card</a>
    </div>
  </div>
  <div class="links-box">
    <p class="separator">CARDS</p>
    <div class="links">
      <a href="#">Advanced Search</a>
      <a href="#">Syntax Guide</a>
      <a href="#">Random Card</a>
    </div>
  </div>
</footer>
