<div *ngIf="isOnlyCard; else cardArray">
  <div class="all-card-container">
    <div class="card">
      <img
        [src]="cardById.foreignName.imageUrl"
        [alt]="cardById.foreignName.name"
      />
      <div class="info">
        <p>{{ cardById.foreignName.type }}</p>
        <p>{{ cardById.setName }}</p>
      </div>
    </div>

    <div class="data">
      <p class="separator">
        {{ cardById.foreignName.name }}
      </p>
      <p class="separator">
        {{ cardById.foreignName.type }}
      </p>
      <p class="separator">
        {{ cardById.foreignName.text }}
      </p>
      <p class="separator" id="ilustrator">
        Illustrated by {{ cardById.artist }}
      </p>

      <legal-formats [legalities]="cardById.legalities"></legal-formats>
    </div>
  </div>
</div>

<ng-template #cardArray>
  <!-- CARTA PREPARADA PARA ESTAR EN GRUPO -->
  <div>
    <img
      [src]="arrayCards.imageUrl"
      [alt]="arrayCards.name"
      [routerLink]="['/cards', arrayCards.id]"
    />
    <div class="info">
      <p>{{ arrayCards.subtypes }}</p>
      <p>{{ arrayCards.type }}</p>
      <p>{{ arrayCards.setName }}</p>
    </div>
  </div>
</ng-template>
