<div>
  <search-cards-form
    [cards]="cards"
    [totalCount]="totalCount"
    (filters)="filterCards($event)"
    (resetData)="resetData()"
    (searchData)="searchData($event)"
    (paginationData)="evaluatePagination($event)"
    [actualPage]="page"
  ></search-cards-form>

  <!-- Si tengo una comunicación donde paso un dato de padre a e hijo
  y lo cambio de hijo a padre an vez de poner 2 lineas de código.
  Se pued eusar en una sola linea con la siguiente sintaxis:
  [(cards)]="cards" -->

  <div *ngIf="isLoading; else notLoading">
    <loading />
  </div>

  <ng-template class="card-content" #notLoading>
    <div class="card-list">
      <card
        *ngFor="let card of cards"
        [isOnlyCard]="false"
        [arrayCards]="card"
      ></card>
    </div>
  </ng-template>

  <div class="alert" *ngIf="needApi">
    <p>No hay resultados en esta búsqueda.</p>
    <p>¿Quieres hacer una búsqueda nueva?</p>
    <span>Pulsa el botón de búsqueda</span>
  </div>
</div>
