card {
  text-align: center;
}

.card-list {
  padding: 1rem 5rem 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.card img {
  max-width: 220px;
}

.alert {
  font-size: 30px;
  text-align: center;
  padding: 1rem 5rem;
}

.alert span {
  color: #896cb5;
}

@media (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
