<div class="form-container separator">
  <form [formGroup]="myForm" (submit)="searchCards()">
    <div>
      <input
        formControlName="name"
        class="name"
        type="text"
        placeholder="Search cards..."
      />
    </div>
    <div>
      <select formControlName="colorIdentity" class="color" name="">
        <option value="" selected>COLOR</option>
        <option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </option>
      </select>
    </div>
    <div>
      <input
        formControlName="cmc"
        class="mana"
        type="number"
        placeholder="CMC"
        min="0"
      />
    </div>
    <div>
      <select formControlName="order" class="order">
        <option value="" selected>ORDER</option>
        <option value="DESC" selected>DESC</option>
        <option value="ASC">ASC</option>
      </select>
    </div>
    <button *ngIf="needApi" type="submit">Búsqueda</button>
    <button *ngIf="!myForm.pristine" (click)="reset()" type="button">
      Reset
    </button>
  </form>
</div>

<div class="count separator">
  <span class="">{{ cards.length }} de {{ totalCount }}</span>
</div>

<div class="pagination-btn">
  <button (click)="pagination('prev')">⏪</button>
  <span>{{ actualPage }}</span>
  <button (click)="pagination('next')">⏩</button>
</div>
