/**Normalización**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6f8;
}

/*TODO: evualuate*/

/* tengo que bajarlo un pogo era 25 25 */
.container {
  padding: 2rem 3rem 2rem 3rem;
}

.separator {
  border-bottom: 2px solid #cac6d0;
}
